body {
	margin: 8px;
}
.mainHeader {
	margin: -8px -8px 0 -8px;
	padding: 8px;
	border-bottom: 1px solid rgba(0,0,0,.24);
	box-shadow: 0 1px 3px rgba(0,0,0,.24);
}
.mainHeader:after {
	content: "";
	clear: both;
	display: block;
}
.mainHeader > .left {
	float: left;
}
.mainHeader > .right {
	float: right;
}

.actionList > * {
	margin-right: .5em;
}

.siteName {
	font-weight: bold;
	font-size: 1.2em;
	margin-right: 1em;
}

.errorBox, .infoBox {
	padding: .5em;
	display: inline-block;
	margin-top: .5em;
	margin-bottom: .5em;
}

.errorBox {
	background-color: #FF6D00;
}

.infoBox {
	background-color: #80D8FF;
}

.communitySidebar {
	float: right;
	width: 300px;
}

.communitySidebar > h2 {
	margin-bottom: 0;
}

.notification-item.unread {
	border-left: 5px solid #FDD835;
	padding-left: 5px;
}

.sortOptions {
	margin-top: 1em;
}

.sortOptions > * {
	margin-right: .5em;
}

.preview {
	margin-top: 1em;
	border: 1px dashed black;
}

.icon {
	height: 1.2em;
	display: inline;
	vertical-align: text-bottom;
}

.iconbutton {
	padding: 0;
}

.iconbutton > .icon {
	margin-left: -1em;
	margin-right: -1em;
}

.votebox {
	float: left;
	margin-right: .5em;
}

.comment > .content {
	display: inline-block;
}

.commentList {
	margin-top: .5em;
	list-style-type: none;
}

.commentList.topLevel {
	padding-left: 0;
}

form.inline {
	display: inline-block;
}

@media (max-width: 768px) {
	.communitySidebar {
		display: none; /* TODO still show this somewhere */
	}
}
