body {
	margin: 8px;
}
.mainHeader {
	margin: -8px -8px 0 -8px;
	padding: 8px;
	border-bottom: 1px solid rgba(0,0,0,.24);
	box-shadow: 0 1px 3px rgba(0,0,0,.24);
}
.mainHeader:after {
	content: "";
	clear: both;
	display: block;
}
.mainHeader > .left {
	float: left;
}
.mainHeader > .right {
	float: right;
}

.actionList > * {
	margin-right: .5em;
}

.siteName {
	font-weight: bold;
	font-size: 1.2em;
	margin-right: 1em;
}

.errorBox {
	background-color: #FF6D00;
	padding: .5em;
	display: inline-block;
	margin-top: .5em;
	margin-bottom: .5em;
}

.communitySidebar {
	float: right;
	width: 300px;
}

.communitySidebar > h2 {
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.communitySidebar {
		display: none; /* TODO still show this somewhere */
	}
}
